/API/ProductManagementAPI/.vs/ProductManagementAPI/FileContentIndex/*.vsidx
/API/ProductManagementAPI/.vs/ProductManagementAPI/config
/API/ProductManagementAPI/.vs/ProductManagementAPI/v17
/API/ProductManagementAPI/ProductManagementAPI/ProductManagementAPI.csproj.user
/API/ProductManagementAPI/ProductManagementAPI/bin/Debug/net8.0
/API/ProductManagementAPI/ProductManagementAPI/obj/Debug/net8.0
/API/ProductManagementAPI/ProductManagementAPI/obj
/API/ProductManagementAPI/.vs/ProductManagementAPI/DesignTimeBuild/.dtbcache.v2
/API/ProductManagementAPI/.vs/ProjectEvaluation/productmanagementapi.metadata.v8.bin
/API/ProductManagementAPI/.vs/ProjectEvaluation/productmanagementapi.projects.v8.bin
/API/ProductManagementAPI/.vs/ProjectEvaluation/productmanagementapi.strings.v8.bin
