.app {
  text-align: center;
}

.app-header {
  font-size: calc(10px + 2vmin);
}

.product-data-table {
  width: 80vw;
  margin: auto;
}

.product-graphs {
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
}